
/* **********HEADER ET NAVBAR***************** */
header{
    display: block;
    padding-top:0;
    background-color: white;
    transition: all .5s ease-in-out;
}

.show-nav{
    height: 100vh;
    transition: height .5s ease-in-out;
}

header>div{
    width: 100%;
    height: var(--hauteur-menu);
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: transparent;
}

.navPortable{
    display: none;
}

.navPortable .menu-deroulant{
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    height:calc(100vh-75px);
    position: absolute;
    top:30px;
    left:0;
    transition: all .5s ease-in-out;
}


.lienNavBar{
    display:block;
    color:black;
    visibility: hidden;
    opacity: 0%;
    font-weight: 400;
    text-align: end;
    padding: 1.5rem;
    font-size: 1.5em;
    transition: all .5s ease-in-out;
}

@keyframes apparitionMenu{
    0%{
        opacity: 0%;
    }
    30%{
        opacity: 0%;
    }
    50%{
        opacity: 30%;
    }
    100%{
        opacity: 100%;
    }
}

.show-nav .navPortable{
    display: block;
}

.show-nav .lienNavBar{
    visibility: visible;
    animation: apparitionMenu 2s forwards;
}

.lienNavBar:hover{
    padding-left:3em;
    letter-spacing: 5px;
    transition: all .5s ease-in-out;
}

.burger{
    display: block;
    position: relative;
    padding: 0;
    margin-right: 2%;
    width: 60px;
    height: 60px;
    border:none;
    background:transparent;
    cursor: pointer;
}

.bar{
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background-color: black;
    transition: all .5s ease-in-out;
}

.show-nav .bar{
    width: 0;
}

.bar::before,.bar::after{
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left:0;
    border-radius: 3px;
    background-color: black;
    transition: all .5s ease-in-out;
}
.bar::before{
    transform: translateY(-12px);
}

.show-nav .bar::before{
    transform:rotate(45deg);
}

.bar::after{
    transform: translateY(12px);
}

.show-nav .bar::after{
    transform:rotate(-45deg);
}

/* ********MAIN**************** */

body{
    letter-spacing: 0.02em;
}
h1{
    font-size: 2.5em;
    font-weight: 400;
}

.interactivePicture{
    position: fixed;
    top:var(--hauteur-menu);
    bottom: 0;
    left:0;
    right: 0;
    width: 1200px;
    height: 800px;
    margin: auto;
    box-shadow:6px 6px 10px 0 rgba(0,0,0,0.4);
}



:root{
    --hauteur-menu:calc(65px);
}

/* *********Points*************** */

.tl{
    position:fixed;
    top:var(--hauteur-menu);
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    height: 800px;
    margin: auto;
    padding: 0;
}

.lienEmploi{
    position:absolute;
    display: block;
    bottom: 380px;
    left: 85px;
}

.lienDescriptif{
    position:absolute;
    display: block;
    bottom: 480px;
    left: 410px;
}

.lienSkills{
    position:absolute;
    display: block;
    bottom: 320px;
    left: 600px;
}

.lienFormation{
    position:absolute;
    display: block;
    bottom: 145px;
    left: 640px;    
}

.lienPassion{
    position:absolute;
    display: block;
    bottom: 290px;
    left: 850px;    
}

.history-tl-container /* ul.tl li */  {
    padding-top: 20px;
    width:60%;
    list-style: none;
    margin:auto;
    margin-left:350px;
    min-height:70px;
}


.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px; 
    content: "";
    border: 10px solid rgba(255, 255, 255, 0.8);
    border-radius: 500%;
    background: #1d1db5;
    height: 40px;
    width: 40px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color: #1d1db5;
    transition: all 1000ms ease-in-out;
}

/* ********Option portable paramètre********* */

.menuPortable{
    display: none;
    flex-direction: column;
    padding-top: var(--hauteur-menu);
    height: 100vh;
}
.menuPortable img{
    width: 100%;
    object-fit: cover;
    border-left: 3px outset rgba(0,0,0,0.23);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menuPortable img:hover{
    opacity: 85%;
    transition: all .5s ease-in-out;
}

.menuPortable img:first-child{
    object-position: top left;
}
.menuPortable img:last-child{
    object-position: top;
}
.menuPortable a{
    color: transparent;
    background-color: transparent;
    display: inline;
}


/* **************Devices******************* */

/* ******small screen****** */
@media screen and (max-width:1200px),screen and (max-height:800px) {

    .tl,.interactivePicture{
        width: 1000px;
        height: 600px;
    }

    .lienEmploi{
        bottom: 290px;
        left: 65px;
    }
    
    .lienDescriptif{
        bottom: 370px;
        left: 345px;
    }

    .lienSkills{
        bottom: 240px;
        left: 495px;
    }

    .lienFormation{
        bottom: 86px;
        left: 530px;
    }

    .lienPassion{
        bottom: 205px;
        left: 700px;
    }

}

@media screen and (max-width:1000px),screen and (max-height:600px) {
    h1{
        font-size: 1.8em;
    }

    .history-tl-container ul.tl li::before{
        height: 20px;
        width: 20px;
    }

    .tl,.interactivePicture{
        width: 800px;
        height: 500px;
    }

    .lienEmploi{
        bottom: 230px;
        left: 58px;
    }
    
    .lienDescriptif{
        bottom: 288px;
        left: 280px;
    }
    .lienSkills{
        bottom: 190px;
        left: 400px;
    }

    .lienFormation{
        bottom: 75px;
        left: 430px;
    }

    .lienPassion{
        bottom: 168px;
        left: 570px;
    }
}

@media screen and (max-width:800px),screen and (max-height:500px) {
    .tl,.interactivePicture{
        width: 600px;
        height: 400px;
    }

    .lienEmploi{
        bottom: 185px;
        left: 43px;
    }
    
    .lienDescriptif{
        bottom: 220px;
        left: 210px;
    }
    .lienSkills{
        bottom: 155px;
        left: 298px;
    }

    .lienFormation{
        bottom: 65px;
        left: 320px;
    }

    .lienPassion{
        bottom: 135px;
        left: 425px;
    }
}

/* ******mobile screen****** */
@media screen and (max-width:500px) {

    .history-tl-container,.interactivePicture{
        display: none;
    }

    .menuPortable{
        display: flex;
        margin: auto;
}

h1{
    font-size: 1.3em;
}
}