

main{
    padding-top: var(--hauteur-menu);
    padding-left:0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;


}
.Portrait{
    position: fixed;
    width: 40%;
    height: 100%;
    right: 0;
}

.Paysage{
    display: none;
}

.history-tl-container{
    padding-top: 20px;
    width:60%;
    display: block;
    position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:350px;
    min-height:50px;
    border-left:1px dashed #8d8c8c;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #282828;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  rgb(60, 60, 60,0.5);
    transition: all 2000ms ease-in-out;
}
ul.tl li .item-title{
    margin-bottom: 10px;
    font-size: 1.2em;
    padding-right: 10px;
}
ul.tl li .item-detail{
    color:#282828;
    padding-right: 40px;
    text-align: justify;
}
ul.tl li .timestamp{
    color:#282828;
    position: absolute;
    width:150px;
    left: -40%;
    top:-20%;
    text-align: right;
    padding: 20px 5px;
}

/* **************Devices******************* */

/* ******middle screen****** */
@media screen and (max-width:1225px) {

    .history-tl-container ul.tl li{
        margin-left: 250px;
    }    
}
@media screen and (max-width:1110px) {
    .Portrait{
        display: none;}

    main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;}

    .Paysage{
        display: block;
        width: 80%;
        margin: auto;}

    .history-tl-container{
        width: 80%;
        padding-top: 20px;
        margin: 0;
    }
    .history-tl-container ul.tl li{
        margin-left: 200px;
    }    
}
@media screen and (max-width:780px) {
    .Paysage{
        width: 100%;
        padding-top: 0;
    }
    .history-tl-container ul.tl li{
        margin-left: 125px;
        font-size: 1em;
}
}


@media screen and (max-width:700px) {
    ul.tl li .timestamp{
        position:sticky;
        left: 45%;
        width: 100%;
        font-weight: 600;
    }

    .history-tl-container ul.tl li{
        margin-left: 50px;
    }
}