
.imageGauche{
    height: 1200px;
}

.softSkills{
    height: 100%;
    overflow: auto;
    padding: 80px 50px 0 0;
    display: flex;
    flex-direction: column;
}

.softSkills h2{
    margin: 30px 0;
}

.imgPortrait{
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: bottom center;
}

.competences{
    text-align: left;
    margin-bottom: 20px;
}
.competences p{
    padding-left: 50px;
}
.competences h3{
    padding: 5px;
    margin: 0;
}

.imagePortfolio{
    
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}
.portfolio{
    text-align: center;
    max-width: 70%;
    margin: auto;
}
.portfolio p:first-child{
    text-align: justify;
}


/* **************Devices******************* */

/* ******middle screen****** */
@media screen and (max-width:1430px) {
    /* Disposition*/
    
    .imageGauche{
        height: 1000px;
    }
    
}

/* ***Small screen******* */

@media screen and (max-width:900px) {

/* Disposition*/

    .imageGauche{
        padding-top: var(--hauteur-menu);
    }
    .softSkills{
        max-width:100%;
        padding: 10px;
        text-align: justify;
    }

    .competences p{
        padding: 0;
        text-align: justify;
    }

    /* Image*/

    .imgPaysage{
        object-fit: cover;
        object-position: top center;
    }
}